* {
  font-family: Enriqueta;
}

#password {
  -webkit-text-security: square;
}


.whitespace{
  white-space: pre-wrap;
}

.navbar-brand {
  padding-left: 2.5px;
}

#navbar {
  background-color: rgb(18, 37, 64);
}

.navbar-default .navbar-nav > li > a {
  color: red;
}
.navbar-default .navbar-nav > li > a:hover {
  color: yellow;
}
.navbar-default .navbar-nav > li > a:active {
  color: yellow;
}

#headerTitle {
  /*color: black;*/
}




