* {
  font-family: Enriqueta;
}

#password {
  -webkit-text-security: square;
}


.whitespace{
  white-space: pre-wrap;
}

.navbar-brand {
  padding-left: 2.5px;
}

#navbar {
  background-color: rgb(24, 94, 178);
}

.navbar-default .navbar-nav > li > a {
  color: rgb(255, 186, 51);
}


.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: white;
}

#headerTitle {
  color: rgb(255, 186, 51);
}




