<div ng-controller='NavbarCtrl'>
    <div class="navbar navbar-default" role="navigation" id='navbar'>
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a id='headerTitle' class="navbar-brand" ng-href="#/">Teewinot Ventures</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li ng-class="{ active: isActive('#/portfolio-companies')}"><a class='navSubHeadings' ng-href="#/portfolio-companies">Portfolio Companies</a></li>
                    <li ng-class="{ active: isActive('#/investment-philosophy')}"><a class='navSubHeadings' ng-href="#/investment-philosophy">Investment Philosophy</a></li>
                    <li ng-class="{ active: isActive('#/about')}"><a class='navSubHeadings' ng-href="#/about">About The Partners</a></li>
                    <li ng-class="{ active: isActive('#/teewinot-blog')}"><a class='navSubHeadings' ng-href="#/teewinot-blog">Blog</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
